.onboarding {
  width: 100%;
  display: flex;
  padding: 0px 80px;
  flex-direction: column;
}

.onboarding section {
  max-width: 600px;
}

.onboarding header {
  display: flex;
  flex-direction: row;
  padding: 0px 0px 32px;
  align-items: flex-end;
  border-bottom: 1px solid var(--border-color);
}

.onboarding header p {
  opacity: .5;
  font-size: 14px;
  margin-left: auto;
}

.onboarding h2 {
  opacity: .85;
  font-size: 16px;
  font-weight: 500;
  margin: 24px 0px;
}

.onboarding input {
  width: 100%;
  padding: 8px;
  color: white;
  border-radius: 5px;
  margin-bottom: 24px;
  border: 1px solid var(--border-color);
  background-color: var(--input-background);
}

.onboarding label {
  opacity: .5;
  font-size: 14px;
  margin-bottom: 8px;
}

.onboarding button {
  padding: 8px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
}