.submissionAndFeedback header {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  align-items: center;
}

.submissionAndFeedback header:nth-of-type(1) {
  margin-bottom: 32px;
}

.submissionAndFeedback header button {
  height: 32px;
  /* ALT HEIGHT 24px */
  margin-top: 0;
  font-size: 12px;
  font-weight: 600;
  padding: 0px 24px;
  margin-left: auto;
  border-radius: 5px;
}

.submissionAndFeedback h2,
.submissionAndFeedback h3 {
  margin: 0;
}

.submissionAndFeedback h2 {
  margin-bottom: 8px;
}

.submissionAndFeedback textarea {
  margin-bottom: 8px;
}

.submissionAndFeedback a {
  line-height: 1;
  height: 14px;
}

.confirmation {
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: 24px;
  display: flex;
  min-width: 420px;
  position: absolute;
  border-radius: 5px;
  flex-direction: column;
  transform: translate(-50%, -50%);
  border: 1px solid var(--border-color);
  background-color: var(--content-background);
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.confirmation * {
  margin: 0;
  line-height: 1;
}

.confirmation header {
  flex-direction: column;
  /* margin-bottom: 16px !important; */
}

.confirmation div {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.confirmation div:first-of-type {
  margin-bottom: 16px;
}

.confirmation input {
  margin: 0;
}

.confirmation label {
  opacity: .5;
  font-size: 14px;
  margin-bottom: 10px;
}

.confirmation h1 {
  margin-bottom: 14px;
}

.confirmation p {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  letter-spacing: .75px;
}

.confirmation button {
  width: 80px;
  height: 24px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  margin: 24px 8px 0px;
  padding: 6px 0px 18px;
}

.sdRow {
  align-items: flex-end;
  justify-content: flex-start;
}

.sdRow * {
  line-height: 1;
}

.sdRow div {
  margin: 0;
  margin-top: 1px;
  margin-right: 10px;
}

.sdRow h2 {
  opacity: .7;
  font-size: 15px;
  max-width: 160px;
  text-align: left;
  overflow: hidden;
  margin-bottom: .5px;
  display: -webkit-box;
  word-break: break-all;
  text-align-last: left;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.sdRow p:nth-child(3) {
  font-size: 14px;
  margin-left: auto;
  letter-spacing: .1px;
  margin-bottom: .5px;
}

.completionTracker p {
  font-size: 14px;
}