.sdRow {
  align-items: center;
  justify-content: flex-start;
}

.sdRow div {
  margin: 0;
  margin-top: 1px;
  margin-right: 10px;
}

.sdRow h2 {
  opacity: .7;
  font-size: 15px;
  max-width: 180px;
  text-align: left;
  overflow: hidden;
  line-height: 20px;
  display: -webkit-box;
  word-break: break-all;
  text-align-last: left;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.sdRow p:nth-child(3) {
  font-size: 14px;
  margin-left: auto;
  letter-spacing: .1px;
  margin-bottom: .5px;
}

.completionTracker p {
  font-size: 14px;
}