.contactInformation {
  padding: 18px;
  border-radius: 5px;
  border: 1px solid var(--border-color);

  width: 100%;
  margin: 0 24px 0;
  height: 384px;
}

.contactInformation>* {
  line-height: 1;
}

.contactInformation h1 {
  margin-bottom: 16px;
}

.contactInformation header p {
  text-align: left;
  margin-top: 10px;
}

.contactInformation div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 24px;
}

.contactInformation p {
  line-height: 1;
}

.contactInformation h3 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contactInformation h3 img {
  margin: 0;
  width: 16px;
  border: none;
  border-radius: 0;
  margin-right: 8px;
}