.contactInformation>* {
  margin-bottom: 32px;
  line-height: 1;
}

.contactInformation header p {
  text-align: left;
  margin-top: 10px;
}

/* p 16px 8-10 margin between top text .7*/
/* h3 14px 8-10 margin between lower .5*/

.contactInformation div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.contactInformation div h3 {
  margin-bottom: 14px;
}

.contactInformation p {
  line-height: 1;
}

.contactInformation h3 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.contactInformation h3 img {
  margin: 0;
  width: 16px;
  border: none;
  border-radius: 0;
  margin-right: 8px;
}