.cohortLanding {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.cohortLanding section {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cohortLanding img {
  width: 480px;
  border-radius: 0;
  margin-bottom: 32px;
}

.cohortLanding header {
  margin: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end !important;
}

.cohortLanding header h1 {
  opacity: .35;
  font-size: 16px;
  font-weight: 400;
}