.cohortSelect {
  padding: 0;
  width: 100%;
  opacity: .5;
  border: none;
  display: flex;
  margin-top: 5px;
  font-size: 14px;
  appearance: none;
  margin-bottom: 28px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: right 0px center;
  background-image: url("../../assets/icons/arrow.svg");
}

.cohortDisplay {
  padding: 0;
  opacity: .5;
  border: none;
  display: flex;
  margin-top: 5px;
  font-size: 14px;
  appearance: none;
  margin-bottom: 28px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: right 0px center;
}

.cohortSelectStatus {
  padding: 0;
  width: 100%;
  opacity: .5;
  border: none;
  display: flex;
  height: 15.5px;
  margin-top: 5px;
  font-size: 14px;
  appearance: none;
  line-height: 1.05;
  margin-bottom: 28px;
  background-size: 12px;
}