.cm-editor {
  border-radius: 5px;
  background-color: #080b0d;
  border: 1px solid var(--border-color);
}

.cm-tooltip-autocomplete {
  display: none;
}

.cm-scroller {
  width: 100%;
  padding: 2px 2.25px;
}

.cm-content {
  padding-left: 2.5px !important;
}

.cm-line {
  padding-bottom: 1px !important;
}

.cm-gutter {
  padding-right: 2.5px;
  border-right: .5px solid rgb(60, 60, 60);
}

.cm-gutterElement {
  margin-top: 0px !important;
}

.cm-gutters {
  background-color: #080b0d !important;
}

.cm-gutters * {
  justify-content: flex-start;
}

.cm-activeLine {
  background: none !important;
}

.cm-foldGutter {
  width: 0;
  border: none;
}

.cm-gutterElement {
  background: none !important;
}

.cm-gutterElement span {
  display: none;
}