.status {
  width: 16px;
  height: 16px;
  padding: 8px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px 32px 3px 0px;
}

.status div {
  margin: 0;
  width: 18px;
  opacity: .65;
  border-radius: 0;
}