.cm-editor {
  border-radius: 4px;
}

.cm-scroller {
  width: 100%;
  padding: 2px 2.25px;
}

.cm-content {
  padding-left: 2.5px !important;
}

.cm-gutter {
  padding-right: 2.5px;
  border-right: .5px solid rgb(70, 70, 70);
}

.cm-gutters * {
  justify-content: flex-start;
}

.cm-activeLine {
  background: none !important;
}

.cm-foldGutter {
  width: 0;
  border: none;
}

.cm-gutterElement {
  background: none !important;
}

.cm-gutterElement span {
  display: none;
}