.myProfile {
  padding: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.myProfile > section {
  padding: 24px 0;
}

.myProfile .header {
  width: 100%;
}

.myProfile .header button {
  width: auto;
  padding: 0px 16px;
}

.myProfile input {
  width: 100%;
  padding: 8px;
  color: white;
  border-radius: 5px;
  margin-bottom: 24px;
  border: 1px solid var(--border-color);
  background-color: var(--input-background);
}