.externalUrlsContainer {
  margin: 0;
  opacity: .5;
  margin-left: auto;
  margin-right: 24px;
}

.externalUrlsContainer p {
  text-align: right;
}

.externalUrlsContainer .externalLink {
  font-size: 14px;
}

.externalUrlsContainer .externalLink + .externalLink  {
  margin-left: 12px;
}