.toggleArrow img {
  width: 12px;
  overflow: clip;
  border-radius: 50%;
}

.toggleArrow {
  background: none !important;
  background-color: none !important;
}

.toggleArrow:hover {
  background: none !important;
  background-color: none !important;
}