html {
  overflow: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  color: var(--body-text-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /* CSS VARIABLES */
  --border-color: #3a3a3a;
  --nav-background: #1a1a1f;
  --body-text-color: white;
  --header-text-color: white;
  --subheader-text-color: white;
  --content-background: #101115;
  /* --body-text-color: #a0a0a0; */

  --font-l: 24px;
  --font-reg: 16px;
  --font-subheader: 14px;

  font-style: normal;
  font-family: halyard-display, sans-serif;

  background-color: var(--content-background);

}

h1 {
  margin: 0;
  line-height: 1;
  font-weight: 500;
  height: var(--font-l);
  font-size: var(--font-l);
}

h2 {
  margin: 0;
  line-height: 1;
  font-weight: 400;
  font-size: var(--font-reg);
}

h3 {
  opacity: .5;
  line-height: .85;
  font-weight: 400;
  margin-bottom: 8px;
  font-size: var(--font-subheader);
}

p {
  margin: 0;
  opacity: .7;
  font-weight: 400;
  letter-spacing: .25px;
  font-size: var(--font-reg);
}

nav {
  width: 72px;
  padding: 24px;
  height: 100vh;
  background: var(--nav-background);
  border-right: 1px solid var(--border-color);
}

/* Leftmost App Nav */
#root>nav li,
#root>nav button {
  border: none;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}

main>nav,
main>section {
  height: 100vh;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
}

main>section {
  width: 100%;
  padding: 24px;
  background: #101115;
}

main>nav {
  min-width: 320px;
  /* min-width: 346px; */
  /* alt width 360? */
}

.page {
  padding: 24px;
}

ul {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  list-style: none;
  flex-direction: column;
}

li {
  border: 1px solid var(--border-color);
}

form {
  display: flex;
  flex-direction: column;
}

select,
button {
  color: white;
  background: var(--nav-background);
  border: 1px solid var(--border-color);
}

img {
  border-radius: 50%;
}

a {
  height: 24px;
  display: flex;
  color: white;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
}

/* Hide default scrollbar */
::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

/* Fix cursor on text */
h1,
h2,
h3,
p {
  cursor: default;
}

a * {
  cursor: pointer;
}

/* PeopleList CSS */

nav section header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav section header p {
  margin-left: 10px;
  margin-right: auto;
}

nav section header button {
  border: none;
}

nav section header button img {
  width: 12px;
}

/* All row style elements */
/* div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
} */

/* ProfileInfo CSS */
div>img {
  margin-right: 16px;
}

/* Show Deliverable  */

.header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border-color);
}

.header section>div>* {
  /* subheaders in show views */
  margin: 0;
  width: 140px;
  margin-right: 32px;
}

.header section {
  display: flex;
  margin-bottom: 32px;
  flex-direction: row;
}

.header button {
  width: 80px;
  height: 24px;
  margin-top: 0;
  font-size: 12px;
  font-weight: 600;
  margin-left: 24px;
  border-radius: 5px;
  padding: 5px 0px 18px;
}

.header section h1 {
  margin-right: auto;
  line-height: .95;
}

.header section h3 {
  opacity: .5;
  line-height: .85;
  font-weight: 400;
  margin-bottom: 8px;
  font-size: var(--font-subheader);
}

.header section p {
  opacity: 1;
  font-size: var(--font-subheader);
}

.header section div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tag {
  display: flex;
  height: 16px;
  max-width: 64px;
  border-radius: 5px;
  align-items: center;
  padding: 0px 0px 1px;
  justify-content: center;
  margin-top: 2px !important;
}

.tag p {
  margin: 0;
  height: 14px;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* menu header */

.menu span {
  width: 100%;
  display: flex;
  margin-bottom: 22px;
  justify-content: space-between;
}

.menu span button {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 14px;
  border-radius: 5px;
}

.menu header {
  height: 16px;
  display: flex;
  align-items: center;
  margin: 16px 0px 24px;
}

.menu select {
  padding: 0;
  opacity: .5;
  border: none;
  display: flex;
  margin-top: 5px;
  font-size: 14px;
  appearance: none;
  margin-bottom: 28px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: right 0px center;
  background-image: url("assets/arrow.svg");
}

.menu header button {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  margin-top: 6.5px;
  justify-content: flex-end;
}

.menu a {
  margin: 16px 0;
}

.menu a p:first-child {
  width: 224px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.menu span {
  display: flex;
  align-items: center;
}

.menu span a {
  margin: 0;
}

/* APP NAV */

.appNav li {
  opacity: .2;
  width: 24px;
  height: 24px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 48px;
  border: 1px solid rgb(255, 255, 255) !important;
}

/* ROW ELEMENTS */

div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.row {
  padding: 0px 14px;
  height: 48px;
  border-bottom: 1px solid var(--border-color);
}

.row>* {
  margin-right: 32px;
}

/*todo status indicator element will change */
.row input {
  margin-left: 0;
}

.row a {
  margin: 0;
}

.externalUrls {
  margin: 0;
  margin-left: auto;
  margin-right: 32px;
}


/* CONFIRMATION */

.confirmation {
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: 24px;
  display: flex;
  min-width: 380px;
  position: absolute;
  border-radius: 5px;
  flex-direction: column;
  transform: translate(-50%, -50%);
  border: 1px solid var(--border-color);
  background-color: var(--content-background);
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.confirmation * {
  margin: 0;
  line-height: 1;
}

.confirmation h1 {
  margin-bottom: 14px;
}

.confirmation p {
  font-weight: 300;
  text-align: center;
  letter-spacing: .75px;
}

.confirmation button {
  width: 80px;
  height: 24px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  margin: 24px 8px 0px;
  padding: 6px 0px 18px;
}

/* GRADE STUDENT DELIVERABLE */
.grade header {
  margin-bottom: 32px;
}

.grade h2 {
  margin-bottom: 16px;
}

.grade select {
  display: flex;
  appearance: none;
  border-radius: 5px;
  background-size: 12px;
  align-items: flex-start;
  padding: 4px 28px 0px 14px;
  background-repeat: no-repeat;
  background-position: right 6px center;
  background-image: url("assets/arrow.svg");
}

textarea {
  width: 100%;
  padding: 8px;
  color: white;
  resize: vertical;
  max-width: 100%;
  min-height: 140px;
  border-radius: 5px;
  margin-bottom: 24px;
  background-color: #080b0d;
  border: 1px solid var(--border-color);
}

/* SHOW PERSON */

.person {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.person span {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.person section {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.person section:first-child {
  padding-left: 12px;
  padding-right: 32px;
  border-right: .5px solid var(--border-color);
}

.person h1,
.person h3 {
  margin: 0;
  margin-bottom: 10px;
}

.person section:nth-child(2) {
  padding-left: 24px;
  align-items: flex-start;
}

.person section:nth-child(2)>* {
  margin-bottom: 32px;
}

.person p {
  line-height: 1;
}

.person div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.person div h3 {
  margin-bottom: 14px;
}

.person button {
  width: 180px;
  height: 24px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 24px;
  padding: 5px 0px 18px;
}

.person img {
  margin-bottom: 40px;
  border: 1px solid var(--border-color);
}