html {
  overflow: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  color: var(--body-text-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto';

  /* CSS VARIABLES */
  --border-color: #3a3a3a;
  --nav-background: #1a1a1f;
  --body-text-color: #a0a0a0;
  --header-text-color: white;
  --subheader-text-color: white;
  --content-background: #101115;

  --font-l: 24px;
  --font-reg: 16px;

  background-color: var(--content-background)
}

h1 {
  font-size: var(--font-l);
}

h2 {
  font-size: var(--font-reg);
}


nav {
  width: 72px;
  padding: 24px;
  height: 100vh;
  background: var(--nav-background);
  border-right: 1px solid var(--border-color);
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}

main>nav,
main>section {
  height: 100vh;
  display: flex;
  overflow-y: scroll;  
  flex-direction: column;
}



main>section {
  width: 100%;
  padding: 24px;
  background: #101115;
}

main>nav {
  width: 312px;
}

.page {
  padding: 24px;
}

ul {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-between;
}

li {
  border-radius: 50%;
  border: 1px solid var(--border-color);
}

form {
  display: flex;
  flex-direction: column;
}

select,
button {
  color: white;
  background: var(--nav-background);
  border: 1px solid var(--border-color);
}

img {
  border-radius: 50%;
}

a {
  display: flex;
  justify-content: space-between;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Hide default scrollbar */

::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}


/* People CSS */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

