.appLanding {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appLanding section {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 480px;
  padding: 24px 0;
}

.appLanding img {
  max-width: 480px;
  border-radius: 0;
}

.appLanding button {
  width: 230px;
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 32px;
  border-radius: 5px;
}