ul {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  list-style: none;
  flex-direction: column;
}

li {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  background-color: var(--icon-background);
}

.appNav a img {
  width: 20px;
  opacity: .6;
}

.appNav ul > div button {
  width: 24px;
  height: 24px;
  display: flex;
  padding-top: 2px;
  align-items: center;
  border-radius: 100px;
  background-color: var(--icon-background);
}

.appNav ul > div button img {
  width: 22px;
  opacity: .6;
}

.tooltipContainer {
  margin-bottom: 48px;
}